/* 
    Document   : style
    Created on : Aug 4, 2013, 7:48:21 PM
    Author     : mscapero
    Description:
        Purpose of the stylesheet follows.
*/


#header{
    font-family:'Quicksand',sans-serif;
    font-size:6em;
    font-weight:300;
}

