/* 
    Document   : style
    Created on : Aug 4, 2013, 7:48:21 PM
    Author     : mscapero
    Description:
        Custom styles for page.
*/

/*Misc
==================*/
a{
    color:#2972a7;
    text-decoration: none;
}
a:hover{
}
.description{
    color:#999;
    font-size:.8em;
}

/*Wrap Text
==================*/
pre,code {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body{
    padding:10px 0;
}

/*limiter
==================*/
.limiter{
    margin:0 auto;
    width:80%;
}

/*Page
==================*/
#page{
    border:1px solid #ccc;
    padding:20px;
    border-radius:10px;
}

/*header
==================*/
#header{
    font-family:'Quicksand',sans-serif;
    font-size:5em;
    font-weight:300;
}

/*All Menus
==================*/
#page-title{
    font-weight:normal;
    text-align: center;
    font-family:'Quicksand',sans-serif;
    font-weight:bold;
    font-size:2.3em;
}

/*All Menus
==================*/
.menu ul{
   padding:5px 0;
   list-style: none;
}
/*MAIN MENU
==================*/
#mainmenu{
    padding:0;
    margin:0;
    
}
#mainmenu ul{
   height:20px;
}
#mainmenu ul li{
    float:left;
    font-weight: normal;
    padding:0 40px 0 0 ;
}
#mainmenu ul li a{
    color:#555;
}
#mainmenu ul li:hover a{
    color:#222;
}
#mainmenu ul li.active a{
}
#mainmenu ul li a{
}
/*Logout Menu
==================*/
#logout{
    position:relative;
    height:50px;
}
#logoutInside{
    position:absolute;
    right:0;
}

/*BreadCrumb
==================*/
.breadcrumbs{
    font-weight: 100;
}

/*Footer
==================*/
#footer{
    font-size:.8em;
    text-align: center;
    color:#555;
}
#footer a{
    color:#0062a7;
}

/*Status Button Container
==================*/
#buttonControl{
    width:400px;
    margin: 0 auto;
}
/*Shop Status Toggle Button
==================*/
#statusToggle{
    font-family:'Quicksand',sans-serif;
    font-size:4em;
    border:1px solid #aaa;
    border-radius:15px;
    width:400px;
    height:150px;
}
#statusToggle:hover{
    border:1px solid #767777;
}
#statusToggle:active{
    border:1px solid #000;
}
.isopen{
    color:#555;
    background:#76C376
}
.isclosed{
    background:#C00;
    color:#fff;
}
/*Button Instructions
==================*/

/*Status Update
==================*/
#statusUpdate{
    text-align: center;
    color:#777;
    font-weight: normal;
    margin-bottom:0;
}

/*Clock
==================*/
#clock p{
    text-align: center;
    color:#777;
}

/***************************
        ADMIN PAGE

==========================*/

/*admin-form
==================*/
.admin-form{
    padding-bottom:20px;
    margin-bottom:10px;
    border-bottom:1px dotted #bbb;
}

/*Section title
==================*/
.section-title{
    color:#555;
    font-weight:normal;
    padding:0;
    margin:0;
    font-size:1.9em;
}

/*classroom hours form
==================*/
.classroomDataForm{
}

/*hours table
==================*/
#timeTable{
    position:relative;
    width:100%;
    margin:20px 0;
}#timeTable td{
    padding:10px;
}

/*time picker
==================*/
.timepicker{
    font-size:.8em;
    width:50px;
    border:none;
    padding:15px 5px;
}.timepicker:hover{
    border:1px solid #aaa;
    border-radius:5px;
    padding:13px 4px;
    cursor: pointer;
}

/*time hover action
==================*/
.date_hover{
    padding:0;
}

